<%- include('header.ejs') %>
<script src="client.js"></script>
<p>Hola <%= user %></p>
<p>Aqui deberia de verse el videito:</p>
<div class="camera">
    <video id="video">No se ha podido obtener el video.</video>
</div>
<%- include('footer.ejs') %>